<!-- Footer-->
{% load static %}
<footer class="position-relative z-index-10 d-print-none bg-footer">
    <!-- Main block - menus, subscribe form-->
    <div class="py-5 text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <div class="font-weight-bold text-uppercase mb-3">BASODI</div>
                    <p>Offrir une seconde vie à vos vêtements, chaussures et accessoires africains.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="text-light text-hover-success" href="#" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="text-light text-hover-success" href="#" target="_blank" title="facebook"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a class="text-light text-hover-success" href="#" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="text-light text-hover-success" href="#" target="_blank" title="pinterest"><i class="fab fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a class="text-light text-hover-success" href="#" target="_blank" title="vimeo"><i class="fab fa-vimeo"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase mb-3">A propos</h6>
                    <ul class="list-unstyled">
                        <li><a class="text-light" href="{% url 'societe' %}">Qui sommes-nous ?</a></li>
                        <li><a class="text-light" href="{% url 'valeurs' %}">Nos Valeurs</a></li>
                        <li><a class="text-light" href="{% url 'engagements' %}">Nos engagements</a></li>
                        <li><a class="text-light" href="{% url 'conseils' %}">Conseils Pour Bien Vendre</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase mb-3">Plus d'option</h6>
                    <ul class="list-unstyled">
                        <li><a class="text-light" href="{% url 'utilisation' %}">Utilisation de la Plateforme</a></li>
                        <li><a class="text-light" href="{% url 'mentions' %}">Mentions légales</a></li>
                        <li><a class="text-light" href="{% url 'cgu' %}">CGU</a></li>
                        <li><a class="text-light" href="{% url 'faq' %}">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h6 class="text-uppercase mb-3">Newsletter</h6>

                    <!-- newsletter -->
                    <!-- Begin Sendinblue Form -->
                    <!-- START - We recommend to place the below code in head tag of your website html  -->
                    <style>
    @font-face {
      font-display: block;
      font-family: Roboto;
      src: url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
    }

    @font-face {
      font-display: fallback;
      font-family: Roboto;
      font-weight: 600;
      src: url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
    }

    @font-face {
      font-display: fallback;
      font-family: Roboto;
      font-weight: 700;
      src: url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
    }

    #sib-container input:-ms-input-placeholder {
      text-align: left;
      font-family: "Helvetica", sans-serif;
      color: #c0ccda;
    }

    #sib-container input::placeholder {
      text-align: left;
      font-family: "Helvetica", sans-serif;
      color: #c0ccda;
    }
  </style>
                    <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
                    <!--  END - We recommend to place the above code in head tag of your website html -->

                    <!-- START - We recommend to place the below code where you want the form in your website html  -->
                    <div class="sib-form" style="text-align: center;
           background-color: #EFF2F7;                                           ">
                        <div id="sib-form-container" class="sib-form-container">
                            <div id="sib-container" class="sib-container--large sib-container--vertical" style="text-align:center; background-color:rgba(255,255,255,1); max-width:540px; border-radius:3px; border-width:1px; border-color:#C0CCD9; border-style:solid;">
                                <form id="sib-form" method="POST" action="https://7d2e52da.sibforms.com/serve/MUIEAKn6_ytGgkNRTnqhUKOXNCC4vcBxF6h5ku28xjwFL3NjvMX4bpoHOPwdfoZkV_IDK3fikNYSDl_5GYCGGlYVz1Ad76HHxtwQ0r_nBIxHiyKWsXSPDvZWFVd9c6S3qqh142JFTEPx46eIm0d1bjYLrIpFm_q0U5amwxqVC4UuVZeNpWmIPVqt_AEEQ8_viyA-7Rn3uHq-GGQG">
                                    <div style="padding: 8px 0;">
                                        <div class="sib-input sib-form-block">
                                            <div class="form__entry entry_block">
                                                <div class="form__label-row ">

                                                    <div class="entry__field">
                                                        <input class="input" maxlength="200" type="text" id="PRENOM" name="PRENOM" autocomplete="off" placeholder="PRENOM" data-required="true" required />
                                                    </div>
                                                </div>

                                                <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding: 8px 0;">
                                        <div class="sib-input sib-form-block">
                                            <div class="form__entry entry_block">
                                                <div class="form__label-row ">

                                                    <div class="entry__field">
                                                        <input class="input" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true" required />
                                                    </div>
                                                </div>

                                                <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding: 8px 0;">
                                        <div class="sib-form-block" style="text-align: left">
                                            <button class="sib-form-block__button sib-form-block__button-with-loader" style="font-size:16px; text-align:left; font-weight:700; font-family:&quot;Helvetica&quot;, sans-serif; color:#FFFFFF; background-color:#3E4857; border-radius:3px; border-width:0px;" form="sib-form" type="submit">
                                                <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512">
                                                    <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
                                                </svg>
                                                S&#039;INSCRIRE
                                            </button>
                                        </div>
                                    </div>
                                    <input type="text" name="email_address_check" value="" class="input--hidden">
                                    <input type="hidden" name="locale" value="fr">
                                    <input type="hidden" name="html_type" value="simple">
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END - We recommend to place the below code where you want the form in your website html  -->
                    <!-- End Sendinblue Form -->
                    <!-- end newsletter -->

                </div>
            </div>
        </div>
    </div>
    <!-- Copyright section of the footer-->
    <div class="py-4 font-weight-light text-gray-300">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left">
                    <p class="text-sm mb-md-0">&copy; 2022, BASODI</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
                        <li class="list-inline-item"><a class="text-light small-text" href="{% url 'faq' %}">Nous contacter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>