{% load custom_tags %}
<header class="header">
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top shadow top-menu">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <a class="navbar-brand py-1 font-weight-bold text-uppercase text-light" href="{% url 'home' %}">BASODI</span></a>
                <form class="form-inline d-none d-sm-flex" action="#" id="search">
                    <div class="input-label-absolute input-label-absolute-left input-reset input-expand ml-lg-2 ml-xl-3">
                        <label class="label-absolute" for="search_search"><i class="fa fa-search"></i><span class="sr-only">Rechercher</span></label>
                        <input class="form-control form-control-sm border-0 shadow-0 bg-gray-200" id="search_search" placeholder="Chercher" aria-label="Search">
                        <button class="btn btn-reset btn-sm" type="reset"><i class="fa-times fas"></i></button>
                    </div>
                </form>
            </div>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="form-inline mt-4 mb-2 d-sm-none" action="#" id="searchcollapsed">
                    <div class="input-label-absolute input-label-absolute-left input-reset w-100">
                        <label class="label-absolute" for="searchcollapsed_search"><i class="fa fa-search"></i><span class="sr-only">Que recherchez vous ?</span></label>
                        <input class="form-control form-control-sm border-0 shadow-0" id="searchcollapsed_search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-reset btn-sm" type="reset"><i class="fa-times fas">           </i></button>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <!-- Megamenu-->
                    <!-- /Megamenu end-->
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'article-list' %}">Tous les articles</a></li>
                    {% categories as categories %}
                    {% for cat in categories %}
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'category-detail' pk=cat.id slug=cat.slug %}">{{ cat.name }}</a></li>
                    {% endfor %}
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown ml-lg-3"><a id="userDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="avatar avatar-sm avatar-border-white mr-2" src="{{ user.profile.image.url }}" alt="Profile Photo"></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'article-create' %}">Ajouter un Article</a>
                            <a class="dropdown-item" href="{% url 'article-user' %}">Gérer mes Annonces</a>
                            <a class="dropdown-item" href="{% url 'inbox' %}">Messages</a>
                            <a class="dropdown-item" href="{% url 'dashboard' %}">Mon Compte</a>
                            <a class="dropdown-item" href="{% url 'user-profile' user.profile.id %}">Mon Profil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fas fa-sign-out-alt mr-2 text-muted"></i> Déconnexion</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"><button type="button" class="btn btn-light btn-sm">Inscription</button></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><button type="button" class="btn btn-light btn-sm">Connexion</button></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- /Navbar -->
</header>