<section class="d-flex align-items-center dark-overlay bg-cover">
    <div class="container py-lg-5 text-white overlay-content text-center">
        <div class="row">
            <div class="col-12 mx-auto">
                <p class="text-lg text-shadow text-dark-b">Vêtements, Chaussures et Accessoires Africains.</p>
                <form method="get" action="{% url 'article-search' %}">
                    <div class="input-label-absolute input-label-absolute-left input-reset w-100">
                        <label class="label-absolute" for="searchcollapsed_search">
                            <i class="fa fa-search"></i><span class="sr-only">Que recherchez vous ?</span></label>
                        <input type="search" name="q" placeholder="Rechercher des articles : Grand boubou, Taille mame, tenue afraicaine"
                               class="form-control form-control-sm border-2 shadow-0 py-4">
                        <button class="btn btn-reset btn-sm" type="reset"><i class="fa-times fas"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
