<section class="bg-light py-3">
    <div class="container bg-light py-5">
        <div class="row">
            <div class="col-md-7 mb-20 m-md-0">
                <h2 class="h2 md text-center text-md-left">Acheter, Vendre, Echanger ou Donner</h2>
                <p class="text-lg text-shadow text-dark-b">Vêtements, Chaussures et Accessoires Africains.</p>
            </div>
            <div class="col-md-5 d-flex align-items-center justify-content-start justify-content-md-end">
                <a href="#" class="btn btn-dark bg-dark-b btn-lg contact-trigger max-width-300">
                    Inscription <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>