.top-menu {
    background-color: #000000!important;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    margin: 13px 0px;
    cursor: pointer;
}

.form-check-input-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.pages h2{
    text-transform: uppercase;
    font-size: 1.05rem;
}

.pages p {
    text-align: justify;
    font-size: .89rem;
}

.bg-dark-b {
    background-color: #000000;
}

.text-dark-b {
    color: #000000!important;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-item.active {
    color: #fff;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #000000!important;
    border-color: #000000;
}

