{% extends "base.html" %}

{% block content %}
<section class="py-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <h1 class="hero-heading mb-0">Dashboard</h1>
        <p class="text-muted mb-5">Gérer votre compte</p>
        <div class="row">
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-success-light mb-3">
                            <svg class="svg-icon text-success w-2rem h-2rem">
                                <use xlink:href="#identity-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" href="user.html">Information Personnelle</a></h5>
                        <p class="text-muted card-text text-sm">Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-success-light mb-3">
                            <svg class="svg-icon text-success w-2rem h-2rem">
                                <use xlink:href="#password-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" href="#">Login &amp; security</a></h5>
                        <p class="text-muted card-text text-sm">Update your password and secure your account</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-success-light mb-3">
                            <svg class="svg-icon text-success w-2rem h-2rem">
                                <use xlink:href="#pay-by-card-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" href="#">Payments &amp; payouts</a></h5>
                        <p class="text-muted card-text text-sm">Review payments, payouts, coupons, gift cards, and taxes</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-success-light mb-3">
                            <svg class="svg-icon text-success w-2rem h-2rem">
                                <use xlink:href="#chat-app-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" href="user-messages.html">Messages</a></h5>
                        <p class="text-muted card-text text-sm">Choose notification preferences and how you want to be contacted</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-success-light mb-3">
                            <svg class="svg-icon text-success w-2rem h-2rem">
                                <use xlink:href="#diary-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" href="#">Privacy &amp; sharing</a></h5>
                        <p class="text-muted card-text text-sm">Control connected apps, what you share, and who sees it</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-success-light mb-3">
                            <svg class="svg-icon text-success w-2rem h-2rem">
                                <use xlink:href="#mix-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" href="#">Global preferences</a></h5>
                        <p class="text-muted card-text text-sm">Set your default language, currency, and timezone</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}