{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="py-6">
    <div class="container pages">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="mb-5 h3 text-uppercase border-bottom pb-2">Contactez-nous</h1>
                <p>L'équipe Basodi vous donne quelques conseils pour bien vendre sur la plateforme :</p>
                <p>Les utilisateurs de la plateforme Basodi sont en recherche constante de vêtements et accessoires tendances. Ces articles sont d'ailleurs les premiers à trouver preneur à des prix intéressants. Par expérience, les vêtements et accessoires passés de mode intéressent peu les utilisateurs de la plateforme. Ils mettent donc plus de temps à se vendre et à des prix très bas.
                    Alors pour faire de bonnes affaires sur Basodi, adoptez la méthode du “aussi vite portée aussi vite revendue”.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}