{% extends "base.html" %}`

{% load custom_tags %}

{% load static %}

{% block content %}
<section class="d-flex align-items-center dark-overlay bg-cover">
    <div class="container py-lg-5 text-white overlay-content text-center">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <h1 class="display-3 font-weight-bold text-shadow text-dark-b">Acheter, Vendre, Echanger ou Donner</h1>
                <p class="text-lg text-shadow text-dark-b">Vêtements, Chaussures et Accessoires Africains.</p>
                <form>
                    <div class="input-label-absolute input-label-absolute-left input-reset w-100">
                        <label class="label-absolute" for="searchcollapsed_search">
                            <i class="fa fa-search"></i><span class="sr-only">Que recherchez vous ?</span></label>
                        <input type="text" placeholder="Rechercher des articles : Grand boubou, Taille mame, tenue afraicaine"
                               class="form-control form-control-sm border-2 shadow-0 py-4">
                        <button class="btn btn-reset btn-sm" type="reset"><i class="fa-times fas"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- new product -->
<section class="py-4">
    <div class="container-fluid">
        <div class="text-center pb-lg-4">
            <h2 class="mb-5 text-uppercase">Les Nouveaux Articles</h2>
        </div>
        <div class="row">
            <!-- venue item-->
            {% for article in articles %}
            <div class="col-md-6 col-lg-3 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                <div class="card h-100 border-0 shadow">
                    <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url('{{ article.photo_main.url }}'); min-height: 350px;"><a class="tile-link" href="{{ article.get_absolute_url }}"></a>
                        <div class="card-img-overlay-bottom z-index-20">
                            <h4 class="text-white text-shadow">{{ article.name }}</h4>
                            <p class="mb-2 text-xs"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-gray-300">                    </i>
                            </p>
                        </div>
                        <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                            <div class="badge badge-transparent badge-pill px-3 py-2">

                                <a href="#">
                                    {{ article.category }}
                                </a>

                            </div>

                            <a class="card-fav-icon position-relative z-index-40" href="#">
                                <svg class="svg-icon text-white">
                                    <use xlink:href="#heart-1"> </use>
                                </svg>
                            </a>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="text-sm text-muted text-uppercase mb-1">{{ article.price }}FCFA</p>
                            <p class="text-sm text-muted text-uppercase mb-1"> L/34</p>
                        </div>
                        <div class="profile-img mb-0">
                            <img class="avatar avatar-sm avatar-border-white mr-2" src="{{ article.author.profile.image.url }}">
                            <small>{{ article.author.firstname }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- products -->

<section class="pt-4 pb-6">
    <div class="container">
        <div class="pb-lg-4 text-center">
            <h2 class="display-3 font-weight-bold text-shadow text-dark-b">Vendre sur BASODI</h2>
            <h2 class="mb-5">Comment ça marche ?</h2>
        </div>
        <div class="row">
            <div class="position-relative px-5 col-lg-4">
                <p class="advantage-number">1</p>
                <div class="px-5">
                    <h6 class="text-uppercase">Publier un article</h6>
                    <p class="text-muted text-sm mb-5 mb-lg-0">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his</p>
                </div>
            </div>
            <div class="position-relative px-5 col-lg-4">
                <p class="advantage-number">2</p>
                <div class="px-5">
                    <h6 class="text-uppercase">La communauté me répond</h6>
                    <p class="text-muted text-sm mb-5 mb-lg-0">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size.</p>
                </div>
            </div>
            <div class="position-relative px-5 col-lg-4">
                <p class="advantage-number">3</p>
                <div class="px-5"><h6 class="text-uppercase">Accepter une proposition</h6>
                    <p class="text-muted text-sm mb-5 mb-lg-0">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samp.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our picks section-->
<section class="pt-4 pb-6">
    <div class="container text-center">
        <div class="pb-lg-4">
            <h2 class="display-3 font-weight-bold text-shadow text-dark-b">Acheter sur BASODI</h2>
            <h2 class="mb-5">Découvrir vos avantages</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
                <div class="px-0 pr-lg-3">
                    <div class="icon-rounded mb-3 bg-dark-light">
                        <svg class="svg-icon w-2rem h-2rem text-dark">
                            <use xlink:href="#pay-1"> </use>
                        </svg>
                    </div>
                    <h3 class="h6 text-uppercase">Aucune commission</h3>
                    <p class="text-muted text-sm">L'équipe BASODI ne prélève aucune commission sur vos ventes.</p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
                <div class="px-0 pr-lg-3">
                    <div class="icon-rounded mb-3 bg-dark-light">
                        <svg class="svg-icon w-2rem h-2rem text-dark">
                            <use xlink:href="#love-pin-1"> </use>
                        </svg>
                    </div>
                    <h3 class="h6 text-uppercase">Visibilité</h3>
                    <p class="text-muted text-sm">Faire un choix parmi une large gamme de produits disponibles.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
                <div class="px-0 pr-lg-3">
                    <div class="icon-rounded mb-3 bg-dark-light">
                        <svg class="svg-icon w-2rem h-2rem text-dark">
                            <use xlink:href="#pay-by-card-1"> </use>
                        </svg>
                    </div>
                    <h3 class="h6 text-uppercase">Plusieurs choix</h3>
                    <p class="text-muted text-sm">Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock %}