{% extends "base.html" %}

{% load custom_tags %}


{% block content %}
<!-- search -->
{% include 'partials/top_search.html' %}
<!-- end search -->
<section class="pb-5">
    <!-- categories -->
    <div class="container">
       <div class="row">
           <div class="col-lg-12">
               <div class="row">
                   <!-- venue item-->
                   {% for article in articles %}
                   <div class="col-md-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                       <div class="card h-100 border-0 shadow">
                           <div class="card-img-top overflow-hidden dark-overlay bg-cover"
                                style="background-image: url('{{ article.photo_main.url }}'); min-height: 350px;">
                               <a class="tile-link" href="{{ article.get_absolute_url }}"></a>
                           </div>
                           <div class="card-body">
                               <div class="d-flex justify-content-between">
                                   <p class="text-sm text-muted text-uppercase mb-1">{{ article.price }} FCFA</p>
                                   <p class="text-sm text-muted text-uppercase mb-1"> L/34</p>
                               </div>
                           </div>
                       </div>
                   </div>
                   {% endfor %}
               </div>
           </div>
       </div>
    </div>
    <!-- end categories -->
</section>
{% include 'partials/sub_category.html' %}
{% endblock %}