{% extends "base.html" %}

{% load custom_tags %}

{% block content %}
<section class="py-5">
    <!-- categories -->
    <div class="container">
       <div class="row">
           <div class="col-lg-3">
               {% include 'partials/sidebar.html' %}
           </div>
           <div class="col-lg-9">
               <div class="row">
                   <!-- venue item-->
                   {% for article in articles %}
                   <div class="col-md-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                       <div class="card h-100 border-0 shadow">
                           <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url('{{ article.photo_main.url }}'); min-height: 350px;"><a class="tile-link" href="{{ article.get_absolute_url }}"></a>
                               <div class="card-img-overlay-bottom z-index-20">
                                   <h4 class="text-white text-shadow">{{ article.name }}</h4>
                                   <p class="mb-2 text-xs"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-gray-300">                    </i>
                                   </p>
                               </div>
                               <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                                   <div class="badge badge-transparent badge-pill px-3 py-2">{{ article.category }}</div><a class="card-fav-icon position-relative z-index-40" href="javascript: void();">
                                   <svg class="svg-icon text-white">
                                       <use xlink:href="#heart-1"> </use>
                                   </svg></a>
                               </div>
                           </div>
                           <div class="card-body">
                               <div class="d-flex justify-content-between">
                                   <p class="text-sm text-muted text-uppercase mb-1">{{ article.price }}FCFA</p>
                                   <p class="text-sm text-muted text-uppercase mb-1"> L/34</p>
                               </div>
                               <div class="profile-img mb-0">
                                   <img class="avatar avatar-sm avatar-border-white mr-2" src="{{ article.author.profile.image.url }}">
                                   <small>{{ article.author.username }}</small>
                               </div>
                           </div>
                       </div>
                   </div>
                   {% endfor %}
               </div>
           </div>
       </div>
    </div>
    <!-- end categories -->
</section>

{% endblock %}