{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- start slider -->
                <section class="mb-3">
                    <!-- Slider main container-->
                    <div class="swiper-container booking-detail-slider">
                        <!-- Additional required wrapper-->
                        <div class="swiper-wrapper">
                            <!-- Slides-->
                            <div class="swiper-slide"><img class="img-fluid" src="{{ article.photo_main.url }}" alt="Our street"></div>
                            <div class="swiper-slide"><img class="img-fluid" src="{{ article.photo_main.url }}" alt="Outside"></div>
                            <div class="swiper-slide"><img class="img-fluid" src="{{ article.photo_main.url }}" alt="Rear entrance"></div>
                            <div class="swiper-slide"><img class="img-fluid" src="{{ article.photo_main.url }}" alt="Kitchen"></div>
                            <div class="swiper-slide"><img class="img-fluid" src="{{ article.photo_main.url }}" alt="Bedroom"></div>
                            <div class="swiper-slide"><img class="img-fluid" src="{{ article.photo_main.url }}" alt="Bedroom"></div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                        <div class="swiper-button-next swiper-button-white"></div>
                    </div>
                </section>
                <!-- end slider -->

                <!-- About Listing-->
                <div class="card card-body rounded-0 mb-md-3">
                    <h2 class="h6 mb-3">{{ article.name }}</h2>
                    <h2 class="h6 my-3">Desciption</h2>
                    <p class="text-muted">{{ article.description }}</p>
                </div>

                <!-- end article -->
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <!-- Fiche Product      -->
                    <div class="card rounded-0 mb-4">
                        <div class="card-header bg-gray-100 py-4 border-0">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <h4 class="mb-0">Fiche Produit</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table text-sm mb-0">
                                <tr>
                                    <th class="pl-0 th-b border-0 py-1">Prix</th>
                                    <td class="pr-0 text-right border-0 py-1">{{article.price}} €</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-2">Taille</th>
                                    <td class="pr-0 text-right py-2">{{article.size}}</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-2">Couleur</th>
                                    <td class="pr-0 text-right py-2">{{ article.color }}</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-2">Etat</th>
                                    <td class="pr-0 text-right py-2">{{ article.condition }}</td>
                                </tr>
                                <tr>
                                    <th class="pl-0 py-2">Publication</th>
                                    <td class="pr-0 text-right py-2">{{ article.created|date}}</td>
                                </tr>
                                {% if article.author.profile.phone %}
                                <tr>
                                    <th class="pl-0 py-2">Téléphone</th>
                                    <td class="pr-0 text-right py-2">{{ article.author.profile.phone }}</td>
                                </tr>
                                {% endif %}
                            </table>
                            <hr class="m-0 pb-3">
                            <div class="text-center">
                                {% if not user.is_authenticated %}
                                <a href="{% url 'login' %}" class="btn btn-outline-dark btn-block mb-3">
                                    Envoyer un message
                                </a>
                                {% endif %}
                                {% if request.user.profile.id != profile.id %}
                                <a href="{% url 'conversation-create' article.author.profile.pk %}" class="btn btn-block mb-3 btn-outline-dark">
                                    Envoyer un message
                                </a>
                                {% endif %}
                            </div>
                            <div class="text-center">
                                {% if user.is_authenticated %}
                                <a>
                                    <div class="save-result" id="#"></div>
                                    <form method="POST" action="{% url 'favorite-add' product_id=article.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-dark btn-block" type="submit" id="{{ article.id }}">
                                            <i class="fa fa-heart"></i> Ajouter aux favoris</button>
                                    </form>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- End Fiche Product -->
                </div>
                <div class="card card-body rounded-0">
                    <table class="table text-sm mb-0">
                        <tr>
                            <th class="pl-0 border-0 py-2"><a href="{% url 'user-profile' article.author.profile.id %}">{{ article.author.firstname }}</a></th>
                            <td class="pr-0 text-right border-0 py-2"><img src="{{ article.author.profile.image.url }}" height="30" width="30"></td>
                        </tr>
                        <tr>
                            <th class="pl-0 th-b py-2">Département</th>
                            <td class="pr-0 text-right py-2">{{ article.author.address.department }}</td>
                        </tr>
                        <tr>
                            <th class="pl-0 th-b py-2">Ville</th>
                            <td class="pr-0 text-right py-2">{{ article.author.address.city }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- product -->
<section class="py-4">
    <div class="container">
        <div class="text-center pb-lg-4">
            <h2 class="mb-5 text-uppercase">Les Nouveaux Articles</h2>
        </div>
        <div class="row">
            <!-- venue item-->
            {% for article in article_similar %}
            <div class="col-md-6 col-lg-3 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                <div class="card h-100 border-0 rounded-0 shadow">
                    <a href="{{ article.get_absolute_url }}">
                        <img class="card-img-top rounded-0" src="{{ article.photo_main.url }}" style="height: 350px;"/>
                    </a>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="text-sm text-uppercase mb-0">
                                <strong>{{ article.price|intcomma }} FCFA</strong>
                            </p>
                            <p class="text-sm text-muted text-uppercase mb-0"> {{ article.size }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- pagination -->
        {% if is_paginated %}
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-template d-flex justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> <i class="fa fa-angle-left"></i></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                        </li>
                        {% endif %}

                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"> <i class="fa fa-angle-right"></i></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% endif %}
        <!-- end pagination -->
    </div>
</section>
<!-- end products -->



{% endblock %}